/* barra sinista verticale */
.col-md-2{
  background-color: black;
  height: 85vh;
}
.link-header, .cont-button{
  display: flex;
  flex-direction: column;
}
.link-header h1{
  display: inline-block;
}
.link-header a{
  margin:0 10px;
}
.privacy{
  display: flex;
  justify-content: space-around;
}
.link-header span, .cont-button button{
  margin:10px;
}
.cont-button button{
  border-radius:20px;
}
#black-button{
  background-color: black;
  color: #ccc;
}
a, h1 {
  color: white;
}
a:hover{
  text-decoration: none;
  color: #9a9ea5;
}
.link-header{
  color: white;
}
/* blocco album musicali */
.col-md-10{
  background-color: #3f262f;
  height: 85vh;
  overflow-y:auto;
  overflow-x: hidden;
}
.container-album{
  width: 100%;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.album h4{
  text-align: center;
}
.tit-categoria{
  margin-left: 10px;
}
/* footer con icone riproduzione */
.play{
  height: 15vh;
  background-color: black;
}
.album .img-cnt img{
  max-width: 100%;
  height: auto;
}
.album {
  margin:10px;
}
/* nav-bar sopra album */
.nav-album{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-album a{
  margin: 0 30px;
}
.play{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-play a{margin-left: 30px;}

@media screen and (max-width:991px) {
  .link-header a{
    display: none;
  }
  .fa-spotify{
    font-size: 32px;
  }
  .link-header{
    align-items: center;
  }
  .cont-button button{
    width: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  .cont-button{
    display: flex;
    align-items: center;
    margin-top: 160px;
  }
  .privacy{
    display: none;
  }
  .nav-album a{
    margin: 0 10px;
    font-size: 8px;
  }
  .tit-categoria h1{
    font-size: 28px;
    /* padding-left: 15px; */
  }
  .container-album{
    /* padding-left: 30px; */
  }
}
@media(min-width:768px) and (max-width:991px){
  .nav-album a{
    margin: 0 10px;
    font-size: 16px;
  }
  .cont-button button{
    width: 90%;
    font-size: 14px;
  }
  .link-header{
    font-size: 24px;
  }
}
